// 主色调
$primaryColor:#FFC93E;
$subColor:#324561;
// 背景颜色
$bgColor:#f0f0f0;
$bgLightColor:#f6f6f6;
// 文字颜色
$textColor:#333;
$textLightColor:#666;
$textSlightlyColor:#999;
$textFillColor:#598C14;
// 边框颜色
$borderLightColor:#F5F6FA;
$borderColor:#E5E5E5;
// 辅助色
$dangerColor:#FDA62A;
$successDarkColor:#2B4D24;
$cautionColor:#EA6B3E;
// 字重
$fontWeightLight:300;
$fontWeightBold:500;
$fontWeightSuperBold:700;